html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Roboto";
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    margin: 0px 50px 50px;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	background-color: #46709a;
	color: white;
	height: 40px;
}

.menu {
	display: flex;

	height: 60px;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0 50px;

	font-size: 30px;
	font-weight: 600;	
}

.menu--list {
	list-style: none;
	display: flex;
	flex-direction: row;

	margin-left: 400px;
	padding-top: 30px;
}

.menu--list > li {
	display: inline-block;
	margin: 0 15px;

	font-size: 16px;
}

.image {
	width: 1484.170px;
	height: 450px;

	object-fit: cover;
}

.para {
	margin-top: 30px;
	padding: 0 50px;
}

.both {
	font-weight: 600;
}

.para--list {
	padding-left: 50px;
	margin-bottom: 20px;
}

.footer--title {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.form {
	text-align: right;
	padding-top: 20px;
	padding-right: 400px;
}

.input {
	display: inline-block;
	width: 150px;
	height: 20px;
	padding: 0;
	margin-bottom: 20px;
	margin-left: 20px;
}

select {
	width: 150px;

}

textarea {
	width: 325px;
}

button {
	width: 332px;
	height: 20px;

	margin-top: 25px;
	background-color: #66a3e0;
	outline: none;
	border: 1px solid black;
}

